<div class="project-container">
    <h1>Arbeitspakete anlegen</h1>
    <form [formGroup]="projectForm">
        <div class="project-input">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field class="form-field-description">
                <mat-label>Beschreibung</mat-label>
                <input matInput formControlName="description">
            </mat-form-field>
            <button class="add-button" mat-icon-button (click)="addProject()">
                <mat-icon>save</mat-icon>
            </button>
        </div>
    </form>
    <div class="project-table">
        <table mat-table [dataSource]="projects">
            <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Beschreibung </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button class="delete-button" mat-mini-fab color="primary" (click)="deleteProject(element.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>