.container {
  margin-top: 20px;
}

// .form-field-description {
//     margin-left: 20px;
// }

.project-input {
  margin-top: 50px;
}

.project-table {
  width: 90%;
}

.delete-button {
  float: right;
  background-color: #f44a3e;
  margin: 20px;
}
