.header-menu {
  background-color: #3c6e71;
  height: 6%;
}

.time-icon {
  margin-right: 5px;
  position: relative;
  top: 4px;
}

/* .example-spacer {
  width: 85%;
} */

.login-button {
  padding: 0;
  width: 90px;
  position: absolute;
  right: 20px;
}

.profile-button {
  padding: 0;
  position: absolute;
  right: 20px;
}

.account-icon {
  transform: scale(2);
}

.account-name {
  margin-left: 5px;
}
