<div class="timebar-component">
  <form [formGroup]="form">
    <div class="timepicker-fields">
      <mat-label>Von</mat-label>
      <ngx-timepicker-field formControlName="fromTime" [format]="24" [defaultTime]="'00:00'"></ngx-timepicker-field>

      <div class="timepicker"></div>
      <mat-label>Bis</mat-label>
      <ngx-timepicker-field formControlName="toTime" [format]="24" [defaultTime]="'00:00'"></ngx-timepicker-field>
    </div>

    <div class="information-fields">
      <mat-form-field class="workpackage-form-field form-field" appearance="outline">
        <mat-label>Arbeitspaket</mat-label>
        <mat-select formControlName="workpackage">
          <mat-option *ngFor="let package of workpackage" [value]="package.value">
            {{ package.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="description-form-field form-field" hintLabel="Max. 256 Buchstaben" appearance="outline">
        <mat-label>Füge eine Beschreibung hinzu</mat-label>
        <input matInput #input maxlength="256" placeholder="Bemerkung" formControlName="description" />
        <mat-hint align="end">{{ input.value.length }}/256</mat-hint>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Gesamt</mat-label>
        <input matInput type="time" />
      </mat-form-field>
      <button class="delete-button" color="warn" mat-mini-fab color="primary" (click)="deleteTimetrack(index)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </form>
</div>