.container {
    margin-top: 60px;
}

.header {
    background-image: url("/assets/officeWidth.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh !important
}

.header-text {
    margin-top: 3%;
    margin-left: 8%;
}

.time-icon {
    position: relative;
    bottom: 5px;
    transform: scale(2);
  }

h4 {
    margin-bottom: 20px;
}

.headline {
    margin-bottom: 30px;
}

.point {
    margin-top: 30px;
}

.login-button {
    margin-top: 30px;
}